@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700|Open+Sans');


/* menu navbar */

.div-inline{
  display:inline
}

img#logoImg{
<<<<<<< HEAD
  margin-left: 10px;
    /* max-width: 15%; */
    max-height: 20px;
    margin-right: 20px;
=======
  margin-left: 50px;
    /* max-width: 15%; */
    max-height: 20px;
    margin-right: 30px;
>>>>>>> deploy version 1.0
}


ul#nav{
  list-style-type: none;
  margin-bottom: -10px;
  padding: 0;
  overflow: visible;
  float: none;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.navbar-header {
    position: relative;
    z-index: 9999;
}
.is-sticky .navbar-header {
    margin-top: -2px;
}

ul#nav li a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 20px 0px 0px 0px;
<<<<<<< HEAD
    text-transform: uppercase;
=======
    /* text-transform: uppercase; */
>>>>>>> deploy version 1.0
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}


ul#nav li a:hover{
    /* color:#C0C0C0; */
    color:#000000;
}

ul#nav li{
  /* float: left; */
  /* display: inline-block; */
  margin-left: 30px;
}

li#dropli a{
  text-decoration: none;
  font-family: sans-serif;
  font-size: 1px;
}

/* slide part */
.font20{
  font-family: sans-serif;
  font-size: 20px;
}

.font25{
  font-family: 'Libre Baskerville', serif;
  font-size: 25px;
}

.slideImg{
  max-height: 380px;
}

.slideImgCourse{
  max-height: 400px;
}


.carousel-control.left {

  background-image:none;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
}
.carousel-control.right {
  left: auto;
  right: 0;

  background-image:none;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
}
/* font style */
.font14{
  font-size:14px;
  font-family:'times new roman',times,serif;
}
.font18{
<<<<<<< HEAD
  font-size:18px;
  font-family:'times new roman',times,serif;
}
.font18bold{
  font-size:18px;
=======
  font-size:16px;
  font-family:'times new roman',times,serif;
}
.font18bold{
  font-size:16px;
>>>>>>> deploy version 1.0
  font-family:'times new roman',times,serif;
  font-weight: 700;
}
.font18red{
  color: red;
<<<<<<< HEAD
  font-size:18px;
=======
  font-size:16px;
>>>>>>> deploy version 1.0
  font-family:'times new roman',times,serif;
}
.font18green{
  color: green;
<<<<<<< HEAD
  font-size:18px;
=======
  font-size:16px;
>>>>>>> deploy version 1.0
  font-family:'times new roman',times,serif;
}
.font18blue{
  color: blue;
<<<<<<< HEAD
  font-size:18px;
=======
  font-size:16px;
>>>>>>> deploy version 1.0
  font-family:'times new roman',times,serif;
}
.font18yellow{
  color: 	#DAA520;
<<<<<<< HEAD
  font-size:18px;
=======
  font-size:16px;
>>>>>>> deploy version 1.0
  font-family:'times new roman',times,serif;
}

@media (min-width: 768px) {
  #dropdown{
    margin-top:20px;
    background-color: #66ccff;
  }
  #dropdown-li{
    margin-left:-20px;
    margin-right:10px;
    margin-top:-10px;
    margin-bottom:-10px;
  }
}


#scrollBox{
width: 100%;
height:250px;
overflow:hidden;
margin: 0;
padding: 0;
    }
#scrollBox ul{
    height:250px;
    width: 100%;
    margin: 0;
    padding: 0;
    }
#scrollBox ul li{
    height:50px;
    width: 100%;
    text-align:left;
    font-size:13px;
    /* line-height:18px; */
    margin: 0;
    padding: 0;
    }
#scrollBox ul li a{
    text-decoration:none;
    /* color:#f60; */
    }
#scrollBox ul li a:hover{
        /* color:#000; */
        font-size:smaller;
}

container.no-margin{
margin:0 ! important;
padding: 0! important
}

/*解决锚点的偏移问题*/
:target{
  padding-top:64px;
}
<<<<<<< HEAD
=======


.container-member {
  overflow: hidden;
  position: relative;
  width: 200px;
  height: 200px;
}

.container-member > img {
  width: auto;
	height: auto;
	max-width: 80%;
	max-height: 80%;
 }

 .box{
   text-align: center;
   overflow: hidden;
   position: relative;
 }
 .box:before{
   content: "";
   width: 0;
   height: 100%;
   background: #000;
   padding: 14px 18px;
   position: absolute;
   top: 0;
   left: 50%;
   opacity: 0;
   transition: all 500ms cubic-bezier(0.47, 0, 0.745, 0.715) 0s;

 }
 .box:hover:before{
   width: 100%;
   left: 0;
   opacity: 0.7;
 }
 .box img{
   width: 150px;
   height: 150px;
 }
 .box .box-content{
   width: 100%;
   /* padding: 14px 18px; */
   color: #fff;
   position: absolute;
   top: 38%;
   left: 0;
 }
 .box h5{
   margin-top: 10px;
   line-height: 15px;
   /* text-transform: uppercase; */
   margin: 0;
   opacity: 0;
   transition: all 0.5s ease 0s;
 }
 .box p{
   font-size: 12px;
   text-transform: capitalize;
   opacity: 0;
   transition: all 0.5s ease 0s;
 }
 .box:hover h5{
   opacity: 1;
   color: #ffffff;
   transition-delay: 0.3s;
 }
 .box:hover p{
   opacity: 1;
   color: #ffffff;
   transition-delay: 0.4s;
 }

 .box .icon{
   padding: 0;
   margin: 0;
   list-style: none;
   margin-top: 15px;
 }
 .box .icon li{
   display: inline-block;
 }
 .box .icon li a{
   display: block;
   width: 40px;
   height: 40px;
   line-height: 40px;
   border-radius: 50%;
   background: #f74e55;
   font-size: 20px;
   font-weight: 700;
   color: #fff;
   margin-right: 5px;
   opacity: 0;
   transform: translateY(50px);
   transition: all 0.5s ease 0s;
 }
 .box:hover .icon li a{
   opacity: 1;
   transform: translateY(0px);
   transition-delay: 0.5s;
 }
/*  .box:hover .icon li:last-child a{
   transition-delay: 0.8s;
 }*/
 @media only screen and (max-width:990px){
   .box{ margin-bottom: 30px; }
 }

 .centervideo {
    margin-left: auto;
    margin-right: auto;
    display: block
}
>>>>>>> deploy version 1.0